[user]
	name = OGATA Tetsuji
	email = tetsuji.ogata@gmail.com
[alias]
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
        today = log --oneline --since='12 hour ago'
        cancel = reset --soft HEAD^