[user]
	name = OGATA Tetsuji
	email = tetsuji.ogata@gmail.com
[alias]
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
        today = log --oneline --since='12 hour ago'
        cancel = reset --soft HEAD^
        # see: http://ikeyasu.hatenablog.com/entries/2011/05/25
        reset-merge = reset --merge
	s = status
	ci = commit
	co = checkout

# [push]
#        default = simple

[github]
	user = xtetsuji
[ghi]
	token = !security find-internet-password -a xtetsuji -s github.com -l 'ghi token' -w
